pyrogram
tgcrypto
requests
hachoir
pytz
hachoir
ffmpeg-python
PyDrive2
xmltodict
hachoir
lxml
pywidevine
telegraph
python-dateutil
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
